<%= form_for @note do |n| %>
  <div class="edit-title">
    <%= n.label :title %>
    <%= n.text_field :title %>
  </div>

  <div class="edit-body">
    <div class="body-label">
      <%= n.label :body %>
    </div>
    <div class="body-text">
      <%= n.text_area :body %>
    </div>
  </div>

  <div class="submit-button-wrapper">
    <%= n.submit class: 'submit-button' %>
  </div>
<% end %>